<h1>New Message</h1>

<%= render 'form' %>

<%= link_to 'Back', messages_path %>

<form class="new_message" id="new_message" action="/messages" accept-charset="UTF-8" method="post">
    
    messages GET /messages(.:format) messages#index
          POST /messages(.:format) messages#create
          
          <%= render 'form', message: @message %>
         <form class="edit_message" id="edit_message_4" action="/messages/4" accept-charset="UTF-8" method="post">
...
<input type="hidden" name="_method" value="patch" />

message GET /messages/:id(.:format) messages#show
        PATCH /messages/:id(.:format) messages#update
        PUT /messages/:id(.:format) messages#update
        <%= form_for(message) do |f| %>
        
        before_action :set_message, only: [:show, :edit, :update, :destroy]